<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test run</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="scripts/app.js"></script>
    <!-- local css -->
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <!-- Maps script -->
    <script src="scripts/maps.js"></script>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Maps Key -->
    <script src="https://maps.googleapis.com/maps/api/js?" async defer></script>
</head>


<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#momentsFeed">Moments</a></li>
                    <li><a href="#">Humanity</a></li>
                    <li><a href="#">Admin</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="parallax-container home valign-wrapper">
            <h1 class="header valign">this is an introductory message for our site....</h1>
            <div class="parallax"><img src="images/heaven.jpg">
            </div>
        </section>
        <!-- drop arrow footer -->
        <footer class="page-footer">
            <a href="#Moments"><i class="material-icons large">arrow_drop_down</i></a>
        </footer>
    </main>
    <section class="parallax-container">
      <div class="parallax"><img src="images/earth-clouds.jpg">
    </section>
    <!-- Moment form section -->
    <section class="section form-section" id="Moments">
        <h2 class="header">Share A Moment</h2>
        <!-- Moment Form  -->
        <div class="row">
            <form class="col s6 offset-s3" id="momentForm">
                <div class="row">
                    <!-- Location Selector -->
                    <div class="input-field col s6">
                        <select name="location">
                        <option value="" disabled selected>Choose your location</option>
                        <option>South of Market</option>
                        <option>Richmond District</option>
                        <option>Mission District</option>
                        <option>Financial district</option>
                    </select>
                    </div>
                    <!-- Category Selector -->
                    <div class="input-field col s6">
                        <select multiple name="categories" min="1">
                          <option value="" disabled selected>Choose your categories</option>
                          <option>Inspiring</option>
                          <option>Motivating</option>
                          <option>Life Changes</option>
                          <option>Perspective</option>
                      </select>
                    </div>
                    <!-- Moment Input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" name="message" class="materialize-textarea" required length="280"></textarea>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                            <label for="textarea1">Share your moments</label>
                        </div>
                    </div>
                </div>
            </form>
    </section>

    <div class="parallax-container">
        <div class="parallax"><img src="images/sanFrancisco.jpg">
        </div>
    </div>
    <!-- Moment Feed -->
    <main class="row moment-section">
        <div class="section-white col s1">
          <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large"><i class="material-icons">menu</i></a>
        </div>
        <div id="momentsFeed" class="col s6">
        </div>
        <!--Map -->
        <div class="map col s4"></div>
    </main>
    <!-- slide out menu for filtering moments -->
    <ul id="slide-out" class="side-nav categories">
      <a class="btn-flat categories" data-id="inspiring">Inspiring</a>
      <a class="btn-flat categories" data-id="motivating">Motivating</a>
      <a class="btn-flat categories" data-id="life changes">Life Changes</a>
      <a class="btn-flat categories" data-id="perspective">Perspective</a>
    </ul>
    <!-- Handlebars template -->
    <script id="" type="text/x-handlebars-template">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active">{{moment.categories}}</div>
                <div class="collapsible-body">
                    <p>{{moment.message}}</p>
                </div>
            </li>
        </ul>
    </script>
    <!-- Handlebars UI test template -->
    <script id="moments-template" type="text/x-handlebars-template">
      <div class="card moment">
            <div class="card-content">
              <!-- <span class="card-title">Card Title</span> -->
              <p>{{moment.message}}</p>
            </div>
            <div class="card-action">
              {{#each moment.categories}}
              <a href="#">{{this}}</a>
              {{/each}}

    </script>


</body>


</html>
