<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test run</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="scripts/app.js"></script>
    <!-- local css -->
    <link rel="stylesheet" href="styles/main.css" type="text/css">
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Maps Key -->
    <script src="https://maps.googleapis.com/maps/api/js?" async defer></script>
    <!-- Marker Cluster  -->
    <script src="scripts/markerclusterer.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Questrial" rel="stylesheet">
</head>


<body>
    <header class="navbar-fixed z-depth-5 frost">
        <h1 class="name">Project</h1>

    </header>
    <div class="menu">
        <a href="#!" data-activates="slide-out" class="button-collapse btn-floating btn-large"><i class="material-icons">menu</i></a>
    </div>
    <!-- Moment Feed -->
    <main class="section">
        <section class="moment-section row">
              <div class="moment-container col s10 offset-s1 offset-m1 m5 z-depth-5 frost">
                <div id="momentsFeed"></div>
              </div>
            <!--Map -->
            <div class="col s10 offset-s1 offset-m1 m4 z-depth-5 frost hide-on-small-only moment-container">
              <div class="map"></div>
            </div>
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light form-icon" href="#Form"><i class="material-icons">mode_edit</i></a>
            </div>
        </section>
    </main>
    <!-- Menu slideout nav -->
    <ul id="slide-out" class="side-nav">
        <li>
            <h4 class="center">Categories</h4></li>
        <li class="divider"></li>
        <li>
            <form class="container" id="categoryFilter">
              <div class="input-field col s12">
                <p>
                    <input data-id="inspiring"type="checkbox" id="inspiring" value="inspiring" />
                    <label for="inspiring">Inspiring</label>
                </p>
                <p>
                    <input data-id="motivating"type="checkbox" id="motivating" value="motivating" />
                    <label for="motivating">Motivating</label>
                </p>
                <p>
                    <input data-id="life changes"type="checkbox" id="lifeChanges" value="life changes" />
                    <label for="lifeChanges">Life Changes</label>
                </p>
                <p>
                    <input data-id="perspective"type="checkbox" id="perspective" value="perspective" />
                    <label for="perspective">Perspective</label>
                </p>
              </div>
            </form>
          </li>
            <li><a class="waves-effect waves-light btn clear" href="#!">Clear Filters</a></li>
          <li class="divider"></li>
          <br />
        <li> <h4 class="center">Map</h4></li>
        <li class="divider"></li>
    </ul>

    <!-- Moment form modal -->
    <section class="modal" id="Form">
        <div class="row modal-content">
            <form class="col s12" id="momentForm">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" name="message" class="materialize-textarea" required length="280"></textarea>
                        <label for="textarea1">Share your moments</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select name="categories" required>

                          <option value="" disabled selected data-error="please select a category">Choose your categories</option>

                          <option>Inspiring</option>
                          <option>Motivating</option>
                          <option>Life Changes</option>
                          <option>Perspective</option>
                      </select>
                    </div>
                    <div class="row modal-footer">
                      <input class="with-gap" name="location" type="radio" id="geoLoc" value="unknown">
                      <label for="geoLoc">Location</label>
                        <button class="btn waves-effect waves-light modal-action" type="submit" name="action">Submit</button>
                    </div>
                </div>
            </form>
    </section>
    <!-- Handlebars UI test template -->
    <script id="moments-template" type="text/x-handlebars-template">
        <div class="card moment">
            <div class="card-content white-text">
                <!-- <span class="card-title">Card Title</span> -->
                <p class="flow-text">{{moment.message}}</p>
            </div>
            <div class="card-action">
                {{#each moment.categories}}
                <a href="#">{{this}}</a> {{/each}}
    </script>
</body>
</html>
