/**********
Universals
**********/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.header {
  color: #4700B7;
}
.parallax-container {
  height: 50vh;
  margin-bottom: 0;
}
main {
  /*height: 100vh;*/
}
.page-footer  {
  margin-top: 0 !important;
  text-align: center;
  background-color: #CD01F0 !important;
}
/*********
nav styling
************/
.nav-wrapper {
  background-color: #CD01F0;
}
li a {
  color: #FCF2FE !important;
}

.material-icons {
  text-shadow: 2px 2px 5px black;
  transition: .5s;
  font-size: 32px;
}

/*********
Home Page styling
***********/

.input-field, option {
  font-size: 1.2em;
}
.home {
  height: 80vh;
}
/**********
form styling
***********/
.form-section {
  margin-top: 0 !important;
}


/***********
Map & Moments feed styling
***********/
.moment-section {
  height: 75vh;
  /*background-color: #FF8E58;*/
}
.map {
  height: 100%;
}

#momentsFeed {
  height: 100%;
}
