/**********
Universals
**********/


header {
  color: #4700B7;
}

/*********
Home Page styling
***********/
.parallax {
  height: 400px;

}

.input-field, option {
  font-size: 1.2em;
}
/***********
Map & Moments feed styling
***********/

.map {
  border: 2px solid black;
  height: 350px;
  margin-top: 4%;
}

.moments-feed {
  border: 2px dashed red;
  height: 375px;
}
